// Specific CSS for your home-page
div .homeBanner{
   height: 600px;
   width: 100%;

}
.Headers{
        font-size: 700%;
        color: $ourMedBlue;
        border-bottom: 3px solid $ourMedBlue;
        border-top: 3px solid $ourMedBlue;
        margin-bottom:2.5%;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
}

.promo-wrapper{

  opacity:1.0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;

}

.promo-wrapper:hover{
  opacity:0.8;
  filter:alpha(opacity=80);
}
.container{
  width:90%;
}
.promo-area{
    background-color: $smooth-gray;
}
#carousel-example-generic{
  margin-bottom: 2%;
}

.jumb-header{
    margin-left:25%;
}


